    <div class="container">
      <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase"> Admin <strong>Page</strong></h2>
            <hr class="divider">
            <div class="row">
                <a class="admin-btn" style="" href="/menu-edit">Edit Menu</a>
                
            </div>
        </div>
    </div>    
         
