/* line 5, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-body {
  margin-top: 20px !important;
}

/* line 9, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-wrapper {
  padding: 10px 10px;
}

/* line 13, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.second-title {
  padding-left: 20px;
  font-size: 17px !important;
}

/* line 18, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-extra {
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 12px;
}

/* line 25, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-body {
  padding: 20px;
  background: white;
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: #5c5c5c;
}

/* line 34, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-section-title {
  font-family: georgia;
  font-size: 23px;
  display: block;
  font-weight: bold;
  margin: 4px 0;
  text-align: left;
  color: black;
  padding: 2pxpx;
}

/* line 46, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-section {
  margin-bottom: 80px;
}

/* line 50, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-section-second-title {
  padding-left: 5px;
  color: #912a2d;
  margin-left: 5px;
  font: normal 26px 'Cookie', cursive;
}

/* line 57, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-item {
  margin: 35px 0;
  font-size: 14px;
}

/* line 62, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-item-name {
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted #d5d5d5;
  margin-left: 15px;
}

/* line 69, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-item-description {
  margin-left: 10px;
  font-style: italic;
  font-size: .9em;
  line-height: 16px;
  padding-left: 4px;
}

/* line 77, /Users/andrey/rails_projects/rego-pizza-2/app/assets/stylesheets/main.scss */
.menu-item-price {
  float: right;
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


/*!
 * Start Bootstrap - Business Casual (http://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */

#phone-button-wrapper {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: -5px;
    right: -5px;
    background: #00E676;
    border-radius: 100px;
    z-index: 100;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    text-align: center;
    color: white !important;
}
.call-right-now-description {
    width: 50%;
    right: 0;
    height: 47px;
    position: fixed;
    bottom: 0;
    background: #8D6E63;
    z-index: 99;
    border-radius: 30px 0 0 0;
    text-align: center;
    color: white;
    line-height: 45px;
    font-size: 18px;
    
}

.socials-wrapper a {
    color: #414141;
    text-decoration: none;
    margin-right: 10px;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4rem;
}

.tagline-upper {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.tagline-lower {
    font-size: 1.2rem;
    line-height: 1;
}

.text-expanded {
    letter-spacing: 2px;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
    font-size: 1.25rem;
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
    border-color: #292b2c;
    max-width: 250px;
}

.map-container iframe {
    pointer-events: none;
}

.map-container iframe.clicked {
    pointer-events: auto;
}

