// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-btn {
    text-align: center !important;
    color: grey !important;
    width:51%;
    height: 40px;
    line-height: 40px;
    margin:auto;
    border-width: 0.2px 0 0.2px 0;
    border-color: rgba(0, 0, 0, 0.52);
    border-style: solid;
    font-size: 130%;
    margin-bottom: 20px;
}

.admin-btn:hover {
    text-decoration: none;
}

.menu-body {
    margin-top: 20px !important;
}

.menu-wrapper {
    padding: 10px 10px;
}

.second-title {
    padding-left: 20px;
    font-size: 17px !important;
}

.menu-extra {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 12px;
}

.menu-body {
    padding: 20px;
    background: white;
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}
 
.menu-section-title {
  font-family: georgia;
  font-size: 23px;
  display: block;
  font-weight: bold;
  margin: 4px 0; 
  text-align: left;
  color: black;
  padding: 2pxpx;    
}


.menu-section {
  margin-bottom: 80px;
}
 
.menu-section-second-title {
    padding-left: 5px;
    color: #912a2d;
    margin-left: 5px;
    font: normal 26px 'Cookie', cursive;
}

.menu-item {
  margin: 35px 0;
  font-size: 14px;
}
 
.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
  margin-left: 15px;    
}
 
.menu-item-description {
    margin-left: 10px;
  font-style: italic;
  font-size: .9em;
  line-height: 16px;
    padding-left: 4px;
}
 
.menu-item-price{
  float: right;
  font-size: 12px;    
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

