    
    
       
    <footer class="bg-faded text-center py-5">
        
        <div class="container">
         <p class="socials-wrapper">
             <a href=""><i class="fa fa-3x fa-google-plus-square"></i></a>
             <a href=""><i class="fa fa-3x fa-yelp" aria-hidden="true"></i></a>
         </p>
          
           <p class="m-0"> Prices are subject to change without notice</p>
            <p class="m-0">Copyright &copy; regopizza.nyc 2017</p>
        </div>
    </footer>